# Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [6]:
def is_symmetrical(number):
    if number == number[::-1]:
        return True
    else:
        return False

In [8]:
n = 4
while n > 0:
    num = input("enter a number: ")
    print(f"{num} is symmetrical : {is_symmetrical(num)}")
    n-=1
    print("\n")

enter a number: 7227
7227 is symmetrical : True


enter a number: 12567
12567 is symmetrical : False


enter a number: 44444444
44444444 is symmetrical : True


enter a number: 9939
9939 is symmetrical : False

# Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [2]:
def multiply(string):
    mul = 1
    list = string.split(",")
    for item in list:
        mul*=int(item)
    return mul
n = 4 
while n > 0:
    user_input = input("Enter the numbers seperated with spaces. ")
    print(f"multiplication of {user_input} is {multiply(user_input)}")
    print("\n")
    n-=1

Enter the numbers seperated with spaces. 2, 3
multiplication of 2, 3 is 6


Enter the numbers seperated with spaces. 1, 2, 3, 4
multiplication of 1, 2, 3, 4 is 24


Enter the numbers seperated with spaces. 54, 75, 453, 0
multiplication of 54, 75, 453, 0 is 0


Enter the numbers seperated with spaces. 10, -2
multiplication of 10, -2 is -20

# Question 3
Create a function that squares every digit of a number.

In [11]:
def square(number):
    
    square_of_digit = ""
    for i in str(number):
        square = (int(i))**2
        square_of_digit+=str(square)
    return int(square_of_digit)

In [14]:
square(9119)

811181

In [15]:
square(2483)

416649

In [18]:
square(3212)

9414

# Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [21]:
def setify(list_1):
    return list(set(list_1))

In [22]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [24]:
setify([4, 4, 4, 4])

[4]

In [25]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [26]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
Create a function that returns the mean of all digits.

In [37]:
def mean(number):
    sum = 0
    for i in str(number):
        sum+=int(i)
    mean = sum/len(str(number))
    return int(mean)

In [38]:
mean(42)

3

In [39]:
mean(12345)

3

In [42]:
mean(666)

6