# Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.

In [10]:
def next_in_line(list,number):
    list.append(number)
    list.remove(list[0])
    return list

In [11]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [12]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [13]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [14]:
next_in_line([], 6)

[]

# Question2
Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

In [16]:
def get_budgets(list):
    people_budget = 0
    for i in list:
        budget = i["budget"]
        people_budget+=budget
    return people_budget

In [17]:
get_budgets([
{"name": "John", "age": 21, "budget": 23000 },
{ "name": "Steve", "age": 32, "budget": 40000 },
{"name": "Martin", "age": 16, "budget": 2700 }
])

65700

# Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

In [20]:
def alphabet_soup(string):
    list_1 = []
    for i in string:
        list_1.append(i)
    list_1.sort()
    formated_string = ""
    for i in list_1:
        formated_string+=i
    return formated_string

In [21]:
alphabet_soup("hello")

'ehllo'

In [22]:
alphabet_soup("edabit")

'abdeit'

In [23]:
alphabet_soup("geek")

'eegk'

# Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?

In [33]:
def compound_interest(p,t,r,n):
    amount = p*(1+(r/n))**(n*t)
    return round(amount,2)

In [42]:
compound_interest(p=10000, t=10, r=0.06, n=12)

18193.97

In [38]:
compound_interest( p=100, t=1, r=0.05, n=1)

105.0

In [37]:
compound_interest(p=3500, t=15, r=0.1, n=4)

15399.26

In [40]:
compound_interest(p=100000, t=20, r=0.15, n=365)

2007316.26